$primary: #ffb3c7;
$dark: #0a0b09;
$light: #686868;
// $light: #9e9e9e;
$white: #ffffff;
$green: #27db93;
$blue: #015fec;

// font family
$font: "Host Grotesk";

@mixin medium {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 576px) {
    @content;
  }
}
